{% extends "base.jinja2" %}

{# page header prefex #}
{% block title %}Index{% endblock %}


    {% block script %}
    <link rel="stylesheet" type="text/css" href="{{request.static_url('evernoteapp:static/css/style.css')}}" />
    {% endblock %}


{# page body content #}
{% block content %}


{% if error %}
    {{ error }}
{% endif %}


<form name= "create" action="/accountAdd" method="post">
  <div class="title">Create New Account</div>
  <input type="email" placeholder="Enter your email" name="email" required>
  <input type="password" placeholder="Enter a password" name="password" required>
  <input type="submit" name='form.submitted' value="Create Account">

</form>




{% endblock %}