{% extends "base.jinja2" %}

{# page header prefex #}
{% block title %}Index{% endblock %}



{# page body content #}
{% block content %}
    <div class='title'>{{ error }}</div>
{% endblock %}


{% block footer %}
    <a href="{{request.route_url('auth',action='out')}}">Logout</a>
{% endblock %}
