{% extends "base.jinja2" %}

{# page header prefex #}
{% block title %}Index{% endblock %}

    {% block script %}
    <link rel="stylesheet" type="text/css" href="{{request.static_url('prototype_design_suite:static/css/style.css')}}" />
    {% endblock %}


{# page body content #}
{% block content %}

{% if error %}
    {{ error }}
{% endif %}

{% if status %}
    {{ status }}
{% endif %}

<form action="{{request.route_url('auth',action='in')}}" method="post">
    <div class="title">Login</div>
    <input type="text" name="email">
    <input type="password" name="password">
    <input type="submit" value="Sign in">
</form>
<a href="/create">Create Account</a>
 |
<a href="/passwordReset">Reset Passoword</a>

{% endblock %}