{% extends "user_base.jinja2" %}

{# page header prefex #}
{% block title %}Login{% endblock %}


{% block page_content %}
    <br/>
    <br/>
    <br/>
    <div class="row">
    <!-- 500login container starts here -->
        <div class="col-sm-12 col-md-4 col-md-offset-4 sign-in animated flipInY">
            <div id="signup" class="lock-screen" >
                <div class="title icon-space"><i class="glyphicon glyphicon-lock"></i>Login</div>

                <form action="{{request.route_url('auth_route',action='in')}}" method="post" class="form-stacked">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" id="isignup_email" name="email" class="form-control" placeholder="Email">
                                {% if invalid %}
                                    <span class="help-block error">Invalid email or password</span>
                                {% endif %}
                                <!--<span class="help-block error">Invalid email or password</span>-->
                            </div>
                            <div class="form-group">
                              <div class="input">
                                <input type="password" id="isignup_password" name="password" class="form-control" placeholder="Password"   />
                              </div>
                            </div>

{#						              <div class="input form-group">#}
{#						                    <label>#}
{#						                    <input id="ch" tabindex="8" type="checkbox" name="remember" value="1" checked="checked" />#}
{#						                    <span>Remember me</span></label>#}
{#						              </div>#}

                            <div class="form-group">
                               <p class="reset">Recover your <a tabindex="4" href="/recovery" title="Recover your username or password">username or password</a></p>
                                <p class="reset"><a href="/registration"> New member registration</a></p>
                            </div>
                          <div class="actions">
                              <input tabindex="9" class="btn btn-success large" type="submit" value="Login">

                            </div>
                        </fieldset>
                    </form>
            </div>
        </div>
        <!-- login container End here -->
    </div>
{% endblock %}
			
