{% extends "user_base.jinja2" %}

{# page header prefex #}
{% block title %}Registration{% endblock %}


{% block page_content %}
    <br/>
    <br/>
    <br/>
    <div class="row">
    <!-- 500login container starts here -->
        <div class="col-sm-12 col-md-4 col-md-offset-4 sign-in animated flipInY">
            <div id="signup" class="lock-screen" >
                <div class="title icon-space"><i class="glyphicon glyphicon-lock"></i>Registration</div>
                <form action="/add_account" method="post" class="form-stacked">
                    <fieldset>
                        <div class="form-group">
                           <label class="control-label" for="Name">Name</label>
                           <input type="text" id="Name" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Your Email Address</label>
                            <input type="email" id="email" name="email"  class="form-control" placeholder="Email Id" >
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Enter Password</label>
                              <input type="password" id="password" name="password" class="form-control" placeholder="Password"   />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="confirm_password">Confirm Password</label>
                              <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password"   />
                        </div>
                        <div class="clearfix">
                            <ul class="input-check list-unstyled">
                               <li>
                                 <label>
                                 <input id="ch" tabindex="8" type="checkbox" name="subscribe" value="1" checked="checked"/>
                                 <span>I accept the JHI  <a href="#" target="_blank"> privacy policy </a></span></label>
                               </li>
                             </ul>
                         </div>
                         <div class="clearfix">
                            <p class="clickedit">By clicking the button above, you agree to our <a href="#" target="_blank"> terms of service </a> and  <a href="#" target="_blank"> privacy policy </a></p>
                         </div>
                         <div class="actions">
                             <input tabindex="9" class="btn btn-warning" type="submit" value="Create your account">
                         </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- login container End here -->
    </div>
{% endblock %}
