{% extends "base.jinja2" %}

{# page header prefex #}
{% block title %}Index{% endblock %}


    {% block script %}
    <link rel="stylesheet" type="text/css" href="{{request.static_url('evernoteapp:static/css/login.css')}}" />
    {% endblock %}


{# page body content #}
{% block content %}

{% if error %}
    {{ error }}
{% endif %}

<form name= "create" action="/resetComplete" method="post">
  <div class="title">Enter A New Password</div>
  <input type="password" placeholder="New Password" name="password" required>
  <input type="submit" name='form.submitted' value="Reset">

</form>




{% endblock %}